.content_{
  width: 440px;
  float: left;
}
.title_{
  background: #000066;
  color: #ffffff;
  padding: 15px;
  margin-bottom: 0;
}
.context{
}
.clear{
  clear: both;
}
.textareas{
  resize: none;
  border: 1px solid #e3e3fa;
  width: 440px;
  padding: 10px;
}
.hiddens{
  display: none;
}


.content{
  width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  min-height: 800px;
}
.title{
  border-bottom: 2px solid #e3e3fa;
  color: #999;
  padding-bottom: 12px;
}
.line{
  border-left: 4px solid #e3e3fa;
  margin-right: 12px;
}
.btn{
  width: 120px;
  height: 40px;
  background: #000066;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  color: #ffffff;
  margin-top: 15px;
}
