footer{
    width: 100%;
    color: #ffffff;
    min-width: 1200px;
}
.footer_A{
    background: #404040;
    padding: 50px 0;
    overflow: auto;
}
.footer_A_content{
    width: 1200px;
    margin: 0 auto;
}
.footer_title{
    font-size: 20px;
    margin: 0;
    margin-bottom: 8px;
}
.footer_A_text_content{
    width: 240px;
    float: left;
}
.footer_A_list{
    margin-top: 20px;
}
.cen{
    padding: 0 60px;
}

.footer_B{
    background-color: #333;
    height: 40px;
}
.footer_B_content{
    text-align: center;
    font-size: 12px;
    line-height: 40px;
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
}
