a:link {color: #666; text-decoration:none;}
a:active {color: #666;  text-decoration:none;}
a:visited {color:#666;text-decoration:none;}
a:hover {color:#666;text-decoration:none;}
body{
    font-family: "Microsoft YaHei";
    /*transform: scale(1,1);*/
    /*-o-transform: scale(1,1); !* IE 9 *!*/
    /*-ms-transform: scale(1,1); !* IE 9 *!*/
    /*-moz-transform: scale(1,1); !* IE 9 *!*/
    /*-webkit-transform: scale(1.2,1.2); !* Safari and Chrome *!*/

    /*transform-origin:20% 40%;*/
    /*-ms-transform-origin:20% 40%; 		!* IE 9 *!*/
    /*-webkit-transform-origin:50% 0%;	!* Safari 和 Chrome *!*/
    /*-moz-transform-origin:20% 40%;		!* Firefox *!*/
    /*-o-transform-origin:20% 40%;*/
    /*overflow-x: hidden;*/
}

/*header上*/
.headerTop{
    background-color: #FAFAFA;
    min-width: 1200px;
}
.headerTopContent{
    padding: 14px 0;
    color: #666;
    width: 1200px;
    margin: 0 auto;
    font-size: 14px;
    height: 40px;
}
.headerTopContent div{
    float: left;
}
.headerTopContent img{
    vertical-align: sub;
    margin-right: 6px;
}
.headerTopContent a{
    color: #666666;
    cursor: pointer;
}
.headerTopContent > .pull-right a{
    width: 40px;
}
.verticalBar{
    padding: 0 20px;
}
.pull-right > .verticalBar:nth-last-child(1){
    padding: 0 0 0 20px;
}

/*header下*/
.headerBottom{
    background-color: #fff;
    width: 1200px;
    margin: 0 auto;
}
.headerBottomContent{
    /*padding: 21px 0;*/
    width: 1200px;
    height: 100px;
}
.headerBottomContent > img{
    padding: 21px 0;
    cursor: pointer;
}
.headerBottomContent>ul{
    margin: 0;
    height: 100px;
    float: right;
    list-style: none;
}

.headerBottomContent>ul>li{
    float: left;
    width: 136px;
    font-size: 18px;
    text-align: center;
    color: #333;
    position: relative;
    line-height: 100px;
}
.headerBottomContent>ul>li:hover{
    background-color: #F5F5F5;
}
.headerBottomContent>ul>li:hover .user_menu{
  display: block;
  background-color: #fdfdfd;
}
.headerBottomContent>ul>li:hover .te{
    opacity: 1;
}
.headerBottomContent>ul>li:hover .triangle_up_active{
    display: none;
}
.te{
    opacity: 0;
}
.user_menu{
    margin-top: 0;
    list-style: none;
    background-color: #fff;
    padding:0;
    display: none;
}
.user_menu>li{
    font-size: 16px;
    text-align: center;
    height: 50px;
    padding: 10px 0;
    line-height: 25px;
}
.user_menu>li:hover{
    background-color: #eee;
}
.active_user>a{
    color: #ff2845!important;
}

.triangleDown{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid #000;
    position: absolute;
    top: 46px;
    right: 15px;
}

.triangleUp {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 12px solid #000066;
    position: absolute;
    right: 62px;
    bottom: 16px;

    animation: nav_triangleUp .8s linear infinite;
    -moz-animation: nav_triangleUp .8s linear infinite;	/* Firefox */
    -webkit-animation: nav_triangleUp .8s linear infinite;	/* Safari 和 Chrome */
    -o-animation: nav_triangleUp .8s linear infinite;
}

@-webkit-keyframes nav_triangleUp /* Safari and Chrome */  {
    from {
        transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);	/* Safari 和 Chrome */
        -moz-transform: rotateY(0deg);
    }
    to {
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);	/* Safari 和 Chrome */
        -moz-transform: rotateY(180deg);
    }
}
.badge_user{
    margin-top: -10px;
    float: right;
    display:block;
    -webkit-transform:scale(0.733);
    background: #e60012;
    border-radius: 15px;
    font-size: 8px!important;
    color: #ffffff;
    padding: 2px;
    width: 20px;
    height: 20px;
    text-align: center;
}
.badge_user2{
  top:20px;
  right:10px;
  float: right;
  display:block;
  -webkit-transform:scale(0.733);
  background: #e60012;
  border-radius: 15px;
  font-size: 16px!important;
  color: #ffffff;
  padding: 2px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 18px;
  position: absolute;
}

.banner{
    min-width: 1200px;
}
.banner > img{
    width: 100%;
}
.bbd{
    width: 100%;
    border-bottom: 2px solid #000066;
}
.user{
    color: #e60012!important;
}
