.content{
  width: 1140px;
  margin: 0 auto;
  padding: 40px 50px;
}
.textContent{
  color: #666;
  line-height: 24px;
}
.text{
  width: 700px;
  float: left;
}
.logo{
  height: 300px;
  width: 285px;
  float: right;
}
.textTitle{
  color: #333;
  margin: 15px 0;
  width: 170px;
}
.star{
  width: 250px !important;
  min-height: 24px!important;
}
.fugai{
  position: absolute;
  width: 300px;
  height: 100px;
  z-index: 3;
}
.clear{
  clear: both;
}
.docTeam{
  margin: 20px 0;
  padding: 0 20px;
}
.my_service_title{
  border-bottom: 2px solid #e3e3fa;
  color: #000066;
  padding-bottom: 12px;
  font-size:20px;
}
.line{
  border-left: 4px solid #000066;
  margin-right: 12px;
}
