.content{
  width: 400px!important;
  margin-right: 12px!important;
}
.uls{
  list-style: none;
  margin: 0;
  width:100%;
  padding: 0;
}
.inputs{
  height: 40px;
  width:100%;
  padding: 0 10px;
  border: 1px solid #e3e3fa;
}
.uls2{
  list-style: none;
  margin: 0;
  width:100%;
  padding: 0;
  text-align: left;
  display: none;
  position: absolute;
  background-color: #eee;
  width: 400px;
  border: 1px solid #e3e3fa;
  max-height: 300px;
  overflow: auto;
}
.uls2>li{
  border-bottom: 1px solid #eee;
  padding: 0 10px;
  cursor: pointer;
}
.uls2>li:hover{
  background-color: #000066;
  color: #fff;
}
/*.inputs:focus +.uls2{*/
/*display: block;*/
/*}*/
