.contents{
  width: 1200px;
  margin: 26px auto;
}
.hiddens{
  display: none;
}
.title_A{
  color: #000066;
  border-left: 4px solid #000066;
  padding-left: 10px;
  font-size: 20px;
  margin-top: 30px;
}
.titleContent{
  border-bottom: 1px solid #e3e3fa;
}
.textContent{
  clear: both;
  padding: 20px 30px 0;
}
.clearFloat{
  clear: both;
}
.textGroup{
  width: 800px;
  margin: 10px auto;
}
.inputGroup{
  color: #666;
  width: 400px;
  float: left;
  margin-bottom: 20px;
}
.inputGroup>div{
  width: 150px;
  float: left;
  text-align: right;
  padding-right: 5px;
  line-height: 40px;

}
.inputGroup>input{
  width: 150px;
  height: 40px;
  border: 1px solid #e3e3fa;
  border-radius: 4px;
  padding-left: 12px;
}
.uplodaBTN{
  width: 80px;
  height: 30px;
  line-height: 31px;
  font-size: 12px;
  background: #000066;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  margin-left: 150px
}
.file{
  opacity: 0;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 85px;
  height: 32px;
  top: 0;
  margin-left: 234px;
}
.imgShow{
  margin-top:10px;
  height: 120px;
}
.imgShow>img{
  margin-right:10px;
  height: 120px;
}
.imgShow > div > img{
  height: 120px;
}
.imgShow > div > span{
  color: #fff;
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #bfbfd2;
  border-radius: 10px;
  padding: 3px;
}
.textAre{
  resize:none;
  width: 400px;
  height: 80px;
  margin-left: 12px;
  margin-bottom: 20px;
  border: 1px solid #e3e3fa;
  color: #666;
}
.BTN{
  width: 120px;
  height: 40px;
  font-size: 16px;
  background: #000066;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  margin: 0 auto;
}
.BTNBack{
  width: 120px;
  height: 40px;
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid #000066;
  border-radius: 3px;
  color: #000066;
  background-color: #fff;
  margin-left: 50px;
}
.hidden{
  display: none;
}
.btngroup{
  width: 300px;
  margin: 10px auto;
}
