html{
  height:100%;
}
body{
  height:100%;
}
aside{
    position: fixed;
    right: 0;
    top: 0;
    height:100%;
}
.aside_bk{
    background-color: #000;
    opacity: .75;
    width: 40px;
    height:100%;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
}
.aside_content{
    width: 40px;
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 0;
    margin-top: -95px;
}
.aside_btn{
    height: 63px;
    width: 100%;
    text-align: center;
    padding: 17.5px 0;
    color: #ffffff;
    position: relative;
}
.aside_btn a:link {color: #fff; text-decoration:none;}
.aside_btn a:active {color: #fff;  text-decoration:none;}
.aside_btn a:visited {color:#fff;text-decoration:none;}
.aside_btn a:hover {color:#fff;text-decoration:none;}
.aside_btn:hover{
    background: #666;
    cursor: pointer;
}
.aside_btn:hover .app{
    display: block;
}
.aside_btn:hover .wechar{
    display: block;
}
.aside_left_content{
    display: none;
    width: 140px;
    background-color: #fff;
    position: absolute;
    right: 40px;
    text-align: center;
    color: #000066;
    border: 1px solid #e3e3fa;
    top: 0;
    padding: 8px 0 16px 0;
}
.aside_triangle_up {
    width: 0;
    height: 0;
    margin-left: 13px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 12px solid #fff;
}
.striping{
    width: 100%;
    border-bottom: 1px solid #e3e3fa;
    margin: 16px 0;
}
