/*健康咨询列表页，注意区分咨询详情页*/

.content{
  width: 730px;
  border-left: 1px dashed #e3e3fa;
  float: right;
  padding: 0 0 0 20px;
}
.content > h4{
  border-left: 4px solid #000066;
  padding-left: 10px;
  color: #000066;
}
.group{
  overflow: auto;
  padding: 20px 0;
  border-bottom: 1px dashed #e3e3fa;
}
.group:hover{
  background-color: #e6e6e6;
  cursor: pointer;
}
.group:hover .datile>h4{
  text-decoration: underline;
}
.datile{
  float: left;
  height: 85px;
}
.datile>h4{
  margin: 20px 0;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  width: 610px;
}
.datile>div{
  overflow: auto;
  width: 610px;
  color: #666;
}
.group > img{
  height: 85px;
  width: 85px;
  border-radius: 42px;
  float: left;
  border: 1px solid #e3e3fa;
  margin-right: 10px;
}
.active2{
  background-color: #000066;
  color: #ffffff;
}
