body{
    font-family: "Microsoft YaHei";
}
.index_A{
    margin: 50px 0;
}
.index_A > img {
    min-width: 1200px;
    width: 100%;
}
.health_managements{
    width: 1200px;
    margin: 50px auto;
    /*overflow: auto;*/
}
.health_management{
    text-align: center;
    width: 285px;
    height: 350px;
    border: 1px solid #e3e3fa;
    float: left;
    margin: 0 20px 0 0;
}
.health_management:nth-last-child(2){
    margin: 0;
}
.health_management:hover {
    box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    -moz-box-shadow: 0 0 10px #ccc;
    cursor: pointer;
}
.clear_me{
    clear:left;
}
.health_management_title{
    font-family: "Microsoft YaHei";
    font-size: 20px;
    color: #000066;
    margin: 20px 0 8px 0;
}
.health_management_title_small{
    font-family: Arial;
    font-size: 11px;
    color: #cccce0;
    margin-bottom: 8px;
}

.index_B{
    background: url("../images/index/index_bg.png");
    overflow: auto;
    padding: 0 0 50px 0;
    clear: both;
    min-width: 1200px;
}
.list{
    margin-top: 50px;
    overflow: auto;
}
.list > img{
    width: 600px;
}
.intro{
    margin: 35px 56px;
    width: 482px;
    float: right;
}
.index_B_content{
    width: 1200px;
    margin: 0 auto;
}
.index_B_content_text{
    margin-top: 20px;
    font-size:14px;
    color: #666;
    line-height: 24px;
    word-wrap: break-word;
}
.index_btn{
    width: 130px;
    height: 44px;
    background-color: #000066;
    color: #ffffff;
    border: none;
    font-size: 16px;
    margin: 30px 0;
}

.index_C{
    padding: 50px 0;
    overflow: auto;
    min-width: 1200px;
}
.index_C > img{
    min-width: 1200px;
    width: 100%;
}
.index_C_text{
    margin: 40px auto;
    width: 1200px;
}
.article{
    width: 560px;
    float: left;
}
.more{
    font-size: 14px;
    line-height: 24px;
    float: right;
}
.more > a{
    color: #000066;
}
.index_C_text_title{
    font-size: 20px;
    color: #333;
    margin: 20px 0;
}
.article > ul{
    font-size: 14px;
    color: #666;
    padding-left: 20px;
}
.article > ul > li{
    list-style: url("../images/ICON/information_spot.png");
    line-height: 30px;
}
.article > ul > li:hover{
  text-decoration: underline;
}
.date{
    color: #999;
    float: right;
}
