.content{
  margin: 20px 0;
}
.btn{
  width: 80px;
  height: 26px;
  line-height: 26px;
  font-size: 12px;
  background: #000066;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  float: right;
}
.file{
  opacity: 0;
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  width: 85px;
  height: 32px;
  top: 0;
}
.titleContent{
  position: relative;
  height: 30px;
  margin: 5px 0;
}
.imgContent{
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-flow:row wrap;
}
.imgGroup{
  position: relative;
  margin: 5px;
}
.imgGroup>img{
  height: 100px;
  border: 1px solid #e3e3fa;
}
.imgGroup > span{
  color: #fff;
  position: absolute;
  top: -9px;
  right: -9px;
  font-size: 12px;
  background-color: #bfbfd2;
  border-radius: 9px;
  padding: 3px;
}
