.content{
  width: 1200px;
  margin: 20px auto;
  padding: 40px 50px;
  overflow: auto;
  background-color: #fff;
  min-height: 500px;
}
.buyList{
  margin-left:40px;
  color: #666;
  margin-top: 10px;
}
.buyList input{
  vertical-align:sub;
}
.line{
  margin: 30px;
  border-bottom: 1px dashed #e3e3e3;
}
.payList{
  margin-bottom: 10px;
  margin-left: 40px;
}
.payList input{
  margin-right: 10px;
}
.btn{
  width: 120px;
  height: 40px;
  background-color: #000066;
  border: none;
  color: #ffffff;
  margin-top: 20px;
}
