.content{
  width: 200px;
  float: left;
}
.content > h3{
  padding: 30px 0 20px;
}
.content > ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.content > ul > li{
  height: 60px;
  font-size: 16px;
  text-align: center;
  line-height: 60px;
  position: relative;
}
.active{
  border-left: 4px solid #000066;
  background: #f5f5f5;
  color: #e60012;
}
.content > ul > li:hover{
  background: #f5f5f5;
  cursor: pointer;
}
.badge_user{
  position: absolute;
  background: #000066;
  border-radius: 15px;
  font-size: 8px!important;
  color: #ffffff;
  padding: 2px;
  width: 20px;
  height: 20px;
  line-height: 16px;
  text-align: center;
  top: 20px;
  right: 16px;
}
