.star{
  background-image: url("../images/ICON/icons.png");
  background-size: 15px 30px;
  width: 15px;
  height: 15px;
  float: left;
}
.starActive{
  background-image: url("../images/ICON/icons.png");
  background-position: 0 15px;
  background-size: 15px 30px;
  width: 15px;
  height: 15px;
  float: left;
}
.content{
  float: right;
}
